.button {
    padding: 16px 32px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    line-height: 24px;

    font-size: 16px;
    font-weight: 400;

    color: #ffffff;
    background-color: #7B6EF6;
}

.button:hover {
    background-color: #6b5fd6;
}