.movie-card {
    padding: 8px 8px 16px;
    border-radius: 12px;

    position: relative;

    background-color: #20283ECC;
}

.movie-card__stars {
    padding: 4px 8px;
    border-radius: 8px;

    position: absolute;
    top: 16px;
    left: 16px;

    display: flex;
    align-items: center;
    gap: 4px;

    color: #FFAD49;
    background-color: #000000A6;
}

.stars-icon {
    width: 16px;
    height: 16px;
}

.srars-count {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.movie-card__title {
    margin: 16px 0;

    font-size: 16px;
    font-weight: 600;

    color: #EBEEF5;
}