.container {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 120px 50px 120px;
}

.app-login {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.app-login__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.app-serch {
    width: 50%;
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.app-serch__form {
    display: flex;
    gap: 8px;
}